.form-panel{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

form{
  display: flex;
  flex-direction: column;
}

.form-group{
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  color: #fff;
}


.submit{
  align-self: center;
  margin-top: 20px;
  border: 0;
  min-width: 120px;
  padding: 12px 16px;
  border-radius: 6px;
  background-color: red;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.submit:hover{
  cursor: pointer;
  background-color: turquoise;
}

.form{
  color: #fff;
}