@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary-color: white;
$secondary-color: #64dfdf;
$tertiary-color: #6930c3;
$fourth-color: #5390d9;

$primary-color-txt: rgb(68, 71, 255);
$secondary-color-txt: rgb(78, 79, 194);
$tertiary-color-txt: #80ffdb;
:root {
  --main-txt-color: rgb(68, 71, 255);
  --second-txt-color: rgb(121, 106, 253);
}

* {
  box-sizing: border-box;
}

html {
  background: white;
  cursor: default;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--second-txt-color);
}

.body-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

a {
  text-decoration: none;
  color: blue;
}

.banner {
  h1 {
    font-weight: 400;
    font-size: 20pt;
    color: var(--main-txt-color);
    text-align: center;
  }
}

h2 {
  color: var(--main-txt-color);
}

h3 {
  color: var(--main-txt-color);
  font-weight: 500;
}

.info1 {
  display: block;
  padding: 1rem;
  margin: auto;
  text-align: center;
  font-weight: 300;
  font-size: 16pt;
}
.info2 {
  display: block;
  padding: 1rem;
  margin: auto;
  text-align: center;
  font-weight: 300;
  font-size: 16pt;
}
.info3 {
  display: block;
  padding: 1rem;
  margin: auto;
  text-align: center;
  font-weight: 300;
  font-size: 16pt;
}

.contact-us {
  display: block;
  padding: 2rem;
  border-radius: 2rem;
  background: rgb(255, 217, 0);
  width: 280px;
  margin: auto;
  text-align: center;
  transition: 0.75s;
  -webkit-transition: 0.75s;
  -ms-transition: 0.75s;

  -webkit-animation: shadow-drop-bl 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: shadow-drop-bl 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  button {
    padding: 1rem;
    border-radius: 1rem;
    margin: auto;
    background: var(--main-txt-color);
    border-width: 0;
    color: white;

    -webkit-animation: shake-horizontal 0.8s
      cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      both;

    transition: 0.2s;

    &:hover {
      transition: 0.2s;
      background: white;
      color: $secondary-color-txt;
    }
  }
}

.nvd-logo {
  height: 80px;
  width: auto;
}

@-webkit-keyframes shadow-drop-bl {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-bl {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.ins {
  padding-top: 2rem;
  text-align: center;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 0;

    li {
      display: flex;
      align-items: center;
      padding-bottom: 2rem;
      img {
        height: auto;
        width: 250px;
      }
    }
  }
}

.bubble1 {
  border-radius: 100%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  opacity: 1;
  z-index: -1;
}

@media screen and (max-width: 720px) {
  .bubble1 {
    visibility: hidden;
  }
}
